<div class="bgComponent">
  <div class="form">
    <mat-card class="card">
      <mat-card-title>Register course</mat-card-title>
      <mat-card-content>
        <div class="container">
          <mat-form-field>
            <input matInput placeholder="Name course" required />
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Code" required />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Profesor" required />
          </mat-form-field>
          <mat-form-field>
            <input type="date" matInput placeholder="Session date" required />
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="place" required />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="button colorButton" mat-raised-button>Register</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
