<mat-toolbar class="bgHeader">
    <ul>
        <a routerLink="registerStudent">Register student</a>
    </ul>
    <ul>
        <a routerLink="registerTeacher">Register teacher</a>
    </ul>
    <ul>
        <a routerLink="registerMatter">Register matter</a>
    </ul>
    <ul>
        <a routerLink="registerCourse">Register course</a>
    </ul>
    <span class="headerSpacer"></span>
    <ul>
        <a mat-button routerLink="login">login</a>
        <a mat-button>Logout</a>
    </ul>
</mat-toolbar>
